button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* ================================= 
  BEM create element / modifier 
==================================== */
/* ================================= 
  COLOURS (Thats right not colors!)
==================================== */
/* ================================= 
  Media Breakpoints
==================================== */
.switch {
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: relative;
  width: 52px; }
  .switch__input {
    display: none; }
    .switch__input:checked + .switch__checkbox {
      background: #1565c0; }
      .switch__input:checked + .switch__checkbox::before {
        transform: scale(0); }
      .switch__input:checked + .switch__checkbox::after {
        left: 22px; }
  .switch__checkbox {
    background: #e8e8e8;
    border: 0;
    border-radius: 32px;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
    width: 52px;
    z-index: 0; }
    .switch__checkbox::before {
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      left: 2px;
      background: #fff;
      border-radius: 32px;
      content: "";
      height: 28px;
      transform: scale(1);
      transition: all 0.3s ease;
      width: 48px;
      z-index: 1; }
    .switch__checkbox::after {
      position: absolute;
      top: 2px;
      right: 0;
      bottom: 0;
      left: 2px;
      height: 28px;
      width: 28px;
      background: #fff;
      border-radius: 28px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      content: "";
      transition: all 0.3s ease;
      z-index: 2; }

.off-canvas {
  position: fixed;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background: #404040;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(-220px);
  transition: all 0.25s linear;
  z-index: 999999;
  padding: 1.5em; }
  .off-canvas__toggle {
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    z-index: 999; }
  .off-canvas--visible {
    transform: translateX(0); }
  .off-canvas ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0; }
  .off-canvas li {
    list-style: none; }

.fade-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998; }
  .fade-screen--visible {
    opacity: 0.4;
    visibility: visible; }

.search-bar {
  position: relative; }
  .search-bar__input {
    appearance: none;
    background-color: white;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0.5em;
    position: relative;
    transition: border-color;
    width: 100%; }
  .search-bar__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    outline: none;
    padding: 5px 10px; }
    .search-bar__btn img {
      height: 12px;
      opacity: 0.7; }

.vertical {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 100;
  padding: calc(3% + 50px) 4%; }
  .vertical__nav {
    display: table;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .vertical__item {
    padding: 11px;
    fill: #333333;
    display: block;
    cursor: pointer;
    position: relative; }
    .vertical__item::after {
      border-color: #333333;
      border-style: solid;
      border-width: 2px;
      background-color: transparent;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 7px;
      opacity: 0.5;
      background: #fff;
      box-shadow: 0 0 1px #303030; }
    .vertical__item--selected::after {
      background: #AAAAAA;
      opacity: 1; }

.fullpage {
  width: 100vw;
  height: 100vw;
  background: #629aa9; }

.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  .navigation__wrapper {
    position: relative;
    z-index: 9999; }
    .navigation__wrapper::after {
      clear: both;
      content: "";
      display: block; }
  .navigation__logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    .navigation__logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  .navigation__menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    .navigation__menu-button:focus, .navigation__menu-button:hover {
      color: white; }
  .navigation__submenu {
    display: none;
    padding-left: 0; }
    .navigation__submenu li {
      display: block;
      padding-right: 0; }
      .navigation__submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
  .navigation__menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    .navigation__menu.show {
      display: block; }
  .navigation__link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .navigation__link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none; }
      .navigation__link a:focus, .navigation__link a:hover {
        color: white; }
    .navigation__link--more {
      padding-right: 0; }
      .navigation__link--more > ul > li:first-child a {
        padding-top: 1em; }
      .navigation__link--more a {
        margin-right: 1em; }
      .navigation__link--more > a {
        padding-right: 0.6em; }
      .navigation__link--more > a::after {
        position: absolute;
        top: auto;
        right: -0.4em;
        bottom: auto;
        left: auto;
        color: rgba(255, 255, 255, 0.7);
        content: "\25BE"; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 1025px) {
    .accordion-tabs {
      border: 1px solid #ddd;
      border-radius: 3px; } }
  .accordion-tabs__item {
    list-style: none; }
    @media (min-width: 1025px) {
      .accordion-tabs__item {
        display: inline; } }
    .accordion-tabs__item:first-child .tab-link {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
  .accordion-tabs__link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0.75em;
    text-decoration: none; }
    @media (min-width: 1025px) {
      .accordion-tabs__link {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 0;
        display: inline-block; } }
    .accordion-tabs__link:hover {
      color: #1565c0; }
    .accordion-tabs__link:focus {
      outline: none; }
    .accordion-tabs__link--active {
      background-color: #f7f7f7; }
      @media (min-width: 1025px) {
        .accordion-tabs__link--active {
          background-color: #f7f7f7;
          border: 1px solid #ddd;
          border-bottom-color: #f7f7f7;
          margin-bottom: -1px; } }
      .accordion-tabs__link--active + .accordion-tabs__content {
        display: flex; }
  .accordion-tabs__content {
    background: #f7f7f7;
    display: none;
    padding: 1.5em;
    width: 100%; }
    @media (min-width: 1025px) {
      .accordion-tabs__content {
        border: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        float: left; } }

.vertical-tabs {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1.5em;
  overflow: hidden; }
  .vertical-tabs::after {
    clear: both;
    content: "";
    display: block; }
  .vertical-tabs li {
    list-style: none; }
  .vertical-tabs a {
    color: #1565c0;
    text-decoration: none; }
  .vertical-tabs__items {
    display: none; }
    @media (min-width: 1025px) {
      .vertical-tabs__items {
        background-color: #fff;
        display: inline;
        float: left;
        height: 18.75em;
        width: 20%; } }
  @media (min-width: 1025px) {
    .vertical-tabs__item {
      border-bottom: 1px solid #ddd;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: 0.75em; }
      .vertical-tabs__item--active {
        background-color: #f7f7f7;
        margin-right: -1px; } }
  .vertical-tabs a.vertical-tab-accordion-heading,
  .vertical-tabs a.vertical-tab {
    color: #333; }
  .vertical-tabs .vertical-tab:focus {
    outline: none; }
  .vertical-tabs__content-container {
    display: block;
    margin: 0 auto; }
    .vertical-tabs__content-container a:focus {
      outline: none; }
    @media (min-width: 1025px) {
      .vertical-tabs__content-container {
        height: 18.75em;
        width: 80%;
        background-color: #f7f7f7;
        display: inline-block; } }
  .vertical-tabs__content {
    background-color: #f7f7f7;
    padding: 1.5em; }
    .vertical-tabs__content p {
      color: #333;
      line-height: 1.5; }
    @media (min-width: 1025px) {
      .vertical-tabs__content {
        border: 0;
        display: none; } }
  .vertical-tabs__heading {
    background-color: #fff;
    border-top: 1px solid #ddd;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: 0.75em; }
    .vertical-tabs__heading:focus, .vertical-tabs__heading:hover {
      color: #1565c0; }
    .vertical-tabs__heading:first-child {
      border-top: 0; }
    .vertical-tabs__heading--active {
      background: #f7f7f7;
      border-bottom: 0; }
    @media (min-width: 1025px) {
      .vertical-tabs__heading {
        display: none; } }
